﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link rel="shortcut icon" href="~/Content/images/1479962870_go-home.ico" />
    <title>عقارات | شركة القبطان</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/css/Dropdown.css")" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/js/jquery.blueberry.js")"></script>
    <script>
		$(window).load(function() {
			$('.blueberry').blueberry();
		});
    </script>
</head>

<body>
    <!--  start-wrap -->
    <div class="wrap">

        <!--  start-header -->
        <div class="header">

            <!--  start-logo -->
            <div class="logo">
                <a href="index.html"><img src="@Url.Content("~/Content/images/logo.png")" title="logo" /></a>
            </div>
            <!--  end-logo -->
            <!--  start-search-info -->
            @*<div class="search-form">
                    <input type="text">
                    <input type="submit" value="">
                </div>
                <div class="clear"> </div>
                <div class="info">
                    <p>Browse Online or Call Us Toll Free – <span>1(888) 555-4689</span></p>
                </div>*@
            <!--  end-search-info -->

            <div class="clear"> </div>
            <!--  start-main-menu -->
            <div class="menu-main" dir="rtl">
                <div class="menu" dir="rtl">
                    <ul>
                        <ul>
                            <li class="current"><a href="index.html">الرئيسية</a></li>
                            <li><a href="about.html">عن الشركة</a></li>
                            <li>
                                <a href="building.html">العقارات</a>
                                <ul>
                                    <li><a href="#">للشراء</a></li>
                                    <li><a href="#">للإيجار</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </li>
                            <li><a href="contact.html">اتصل بنا</a></li>
                            <div class="clear"> </div>
                        </ul>
                        <div class="clear"> </div>
                    </ul>
                    <div class="clear"> </div>
                </div>
            </div>
            <!--  end-main-menu -->
            <!--  end-header -->
            <!--  Img-Slider -->
            <div class="clear"> </div>
            <div class="slider">
                <div class="blueberry">
                    <ul class="slides">
                        <li><img src="@Url.Content("~/Content/images/slider3.png")" title="slider1" /></li>
                        <li><img src="@Url.Content("~/Content/images/slider2.png")" title="slider2" /></li>
                        <li><img src="@Url.Content("~/Content/images/slider4.png")" title="slider3" /></li>
                        <li><img src="@Url.Content("~/Content/images/slider2.png")" title="slider4" /></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="clear"> </div>
                <!--  End-of image slider -->

                <div class="hr"></div>

                <div class="content">
                    @RenderBody()
                </div>
            </div>



            <div class="clear"> </div>
            <div class="hr"></div>


            <div class="copy-right">
                <p>© 2017 <a href="http://w3layouts.com/">Property Company</a></p>
            </div>

            <div class="clear"> </div>
        </div>

    </div>

</body>

</html>