﻿@*<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h1>Please wait...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>*@



<div class="modal fade " id="pleaseWaitDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top:35px;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<h1>Please wait...</h1>*@
                <h4 id="wait-modal-progress-msg">Please wait...</h4>

            </div>
            <div class="modal-body">
                <!-- Modal body -->
                @*<div class="progress progress-striped active">
                        <div class="bar" style="width: 100%;"></div>
                    </div>*@
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <img src="~/Content/general/ajax-loader2.gif" class="col-sm-offset-4 col-sm-4" />
                            @*<div class="col-sm-8"><h2>Please wait...</h2></div>*@
                            @*<div class="col-md-1"></div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                 @*<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>*@
            </div>
        </div>
    </div>
</div>

