﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminDashboard_Layout.cshtml";
}
@section Styles
{
<style type="text/css">
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
</style>

}
<div class="loading" align="center">
    Loading. Please wait. <br />

    <img src="~/Content/images/loader.gif" />
</div>
<div id="dvMainContainer" style="margin-top:-90px;" ng-controller="ExpensesBookController" ng-init="initBook(@ViewBag.ServerParams)">

    <div class="page-header">
        <h3>{{ViewTitle}}</h3>
    </div>
    <div ng-form="basicForm">
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right">رقم الفاتورة  :</label>
                        <input type="number" style="margin-left:300px" class="form-control"
                               ng-model="JExpenses.BillNumber" placeholder="إدخال رقم الفاتورة ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!JExpenses.BillNumber">
                        إدخـل رقـم الفـاتورة
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> التاريخ :</label>
                        <input type="text" id="datePicker" style="margin-left:300px" class="form-control"
                               ng-model="JExpenses.Date" placeholder="أختر التاريخ ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!JExpenses.Date">
                        إدخـل التاريخ
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> المبلغ المدفوع : </label>
                        <input type="number" style="margin-left:300px" class="form-control"
                               ng-model="JExpenses.Amount" placeholder="ادخل المبلغ ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!JExpenses.Amount">
                        إدخـل المبـلغ المـدفوع
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>الـوصـف التفـصيلى</label>
                        <textarea rows="3" type="text" style="max-width:none" class="form-control" name="txtDescrption" placeholder="اكتب الـوصـف التفـصيلى ..."
                                  ng-init="" ng-model="JExpenses.Description" required></textarea>
                    </div>
                    <div class="label label-danger" ng-show="!JExpenses.Description">
                          ادخـل الوصـف التفصـيلى
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" style="margin:3px; width:250px;" class="btn btn-sm btn-primary"
                            ng-disabled="basicForm.$invalid" ng-click="saveData()">
                        <i>
                        </i> حفظ البيــانـات
                    </button>
                </div>
                <div class="col-md-6">
                    <button type="button" style="margin:3px; width:250px;" class="btn btn-sm btn-primary"
                           ng-click="testModal()">
                        <i>
                        </i> Test Modal
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<script src="~/Content/js/sweetalert.min.js"></script>
<script src="~/AngularApp/Services/ShowProgressServices.js"></script>
<script src="~/AngularApp/Services/ExpensesBookServices.js"></script>
<script src="~/AngularApp/Controller/ExpensesBookController.js"></script>