﻿@font-face {
    font-family: 'DroidKufi-Regular';
    src: url('../fonts/DroidKufi-Regular.ttf') format('truetype');
}
input, select 
{
    direction:rtl;
    font-family:DroidKufi-Regular;/* need to set for IE6/7 or it won't inhereit properly*/
}
input,span,select
{
    display:inine-block;
    vertical-align:middle;
    font-size:10px;
}
input,select
{
    width:80px;
    color:#999;
    border:1px solid #999;
}
input
{
    padding:0 10px;
    height:30px;/* uses normal box model */
}
select
{/* height,line-height and padding can't be changed at all in IE6 and 7*/
    padding:7px 2px 5px 10px;
    height:32px;/* uses border box model (so padding and borders are included inside the width and height)*/
    width:240px;
    line-height:26px;/* webkit mac doesn't use height but fiddle with line-height until it looks right*/
    background:transparent;/* if you change the background then safari and chrome mac will use height !!!!*/
}
#compare
{
    height:32px;/* uses broken box model*/
    border:1px solid #999;
    background:#ccc;
}